/*
LAYOUT: Two-Column (Right)
DESCRIPTION: Two-column fixed layout with the content to the left of the sidebar
*/
div#container {
    margin:auto;
    width:800px;
}

div#content {
    margin:auto;
    padding-left: 20px;
    float: left;
    width: 600px;
}

div.sidebar {
    float:right;
    overflow:hidden;
    width:175px;
    padding-left: 5px;
}

div#secondary {
    clear:right;
}

div#footer {
    clear:both;
    width:100%;
}
